* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    background: #F3E4D5;
    color:  #7C9581;
}

h1 {
    font-size: 80px;
}

.subtitle {
    font-size: 40px;
}

.main{}

.main_2 {
    grid-column-gap: 30px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.block {
    border: 3px solid #ABAF9A;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.block img {
   width: 30vw;
   height: 20vw;
   object-fit: cover;
   border-radius: 10px;
}

.text {
    font-size: 20px;
    padding: 5px;
}

.input {
    font-size: 30px;
}

.search {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    font-size: 20px;
}


/* .grid-container {
    display: flex;
    justify-content: center;
}
.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 70vw;
    border: 2px solid black;
    grid-gap: 1em;
    /* grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ."; */
}

/* .image img {
    max-width: 20vw;
    max-height: 20vw;
} */ */
