* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
}

h1 {
    font-size: 80px;
}

.subtitle {
    font-size: 40px;
}

.main{}

.main_2 {
    grid-column-gap: 30px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.block {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.block img {
   width: 30vw;
   height: 20vw;
   object-fit: cover;
   border-radius: 10px;
}

.text {
    font-size: 20px;
    padding: 5px;
}
