* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    background: white;
    color:  #F4A336;
    padding: 5px;
}

h1 {
    font-size: 80px;
}

.subtitle {
    font-size: 40px;
}

.main{
}

.main_2 {
    grid-column-gap: 30px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.block {
    border: 2px solid #F4A336;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
    width: 30vw;
}

.block img {
   width: 29vw;
   height: 20vw;
   object-fit: cover;
   border-radius: 30px;
}

.text {
    font-size: 20px;
    padding: 5px;
    border-radius: 70px;
    width: 20;
    background: none;
}

.input {
    font-size: 30px;
}

.search {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    font-size: 20px;
}

.show-container {
  position: fixed;
  z-index: 9998;
  top: 0%;
  left: 15%;
  width: 70%;
  height: 100vh;
  background-color: white;
  transition: opacity .3s ease;
  text-align: center;
  opacity: 0.98;
}


.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-button {
  float: right;
}

.modal-image {
    height: 40%;
}

.addcomment {
    overflow: scroll;
}

.comment-section {
    border: 1px solid #F4A336;
    font-size: 15px;
    height: 80px;
}
/* .grid-container {
    display: flex;
    justify-content: center;
}
.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 70vw;
    border: 2px solid black;
    grid-gap: 1em;
    /* grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ."; */
/* } */

/* .image img {
    max-width: 20vw;
    max-height: 20vw;
} */
